<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share template with people having the link</h4>
        </div>
        <div class="modal-body">

                <h5>Read permissions</h5>
                <select id="readPermissions" name="readPermissions" multiple="multiple">
                    {{for ~getUsers()}}
                    <option value="{{:_id}}">{{:username}}</option>
                    {{/for}}
                </select>

                <h5>Edit permissions</h5>
                <select id="editPermissions" name="editPermissions" multiple="multiple">
                    {{for ~getUsers()}}
                    <option value="{{:_id}}">{{:username}}</option>
                    {{/for}}
                </select>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="okCommand" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>