<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">last modified templates</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover fixed">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>RECIPE</th>
                        <th>ENGINE</th>
                        <th>LAST MODIFIED</th>
                    </tr>
                </thead>
                <tbody>
                    {{for items}}
                    <tr data-id="{{:shortid}}">
                        <td class="link"><a>{{:name}}</a></td>
                        <td><span class="label label-info">{{:recipe}}</span></td>
                        <td>{{:engine}}</td>
                        <td>{{:~dateToString(modificationDate)}}</td>
                    </tr>
                    {{/for}}
          
                </tbody>
            </table>
            <a class="pull-right" href="/#/extension/templates">&raquo; See all</a>
        </div>
    </div>
</div>