
<small>Engine</small>

<div class="btn-group dropdown" data-binding="engine">
    <button class="btn btn-danger btn-xs dropdown-button" data-value="{{:engine}}">{{:engine}}</button>
    <button class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
        {{for ~getEngines()}}
        <li><a data-value="{{:#data}}">{{:#data}} </a></li>
        {{/for}}
    </ul>
</div>

<small>Recipe</small>

<div class="btn-group dropdown" data-binding="recipe">
    <button class="btn btn-success btn-xs dropdown-button" id="recipe" data-value="{{:recipe}}"
            >{{:recipe}}
    </button>
    <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
        {{for ~getRecipes()}}
        <li><a data-value="{{:#data}}">{{:#data}}</a></li>
        {{/for}}
    </ul>
</div>