<nav class="navbar navbar-fixed-top not-responsive" role="navigation">
    <div class="navbar-header submenu">
        <ul class="nav navbar-nav sub-header" id="extensionsToolbarBox">
            <li><a id="logo" class="brand" style="background: url('{{:~getServerUrl()}}img/js-logo.png') no-repeat;"/></li>
            {{if getViewOptions().useStandardStorage == true }}
            <li><a id="saveCommand"><i class="fa fa-save"></i>Save</a></li>
            {{else}}
            {{/if}}
            <li><a id="previewCommand" title="preview report" data-intro='Preview report'><i class="fa fa-play"></i>Run</a></li>
        </ul>

        <ul class="pull-right nav navbar-nav sub-header">
            <li><a id="fullScreenCommand" title="full screen"><i
                    class="fa fa-arrows-alt"></i></a></li>
            <li><a id="smallScreenCommand" title="normal screen" style="display:none"><i class="fa fa-compress"></i></a></li>
            <li><a id="closeCommand" title="close editor"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>
</nav>


    <ul class="nav navbar-nav side-nav" id="extensionsBox">
        <li>
            <a id="basicSettingsCommand" title="Basic settings">
                <i class="fa fa-cog" data-intro='Define basic report settings' data-position="right"></i>
            </a>
        </li>
        {{:~renderExtensionsMenu()}}
    </ul>



<!--<div class="template-detail-wrap split-pane fixed-left">-->
<div id="template-detail-wrap">
    <div class="split-pane fixed-left">
        <div class="split-pane-component" id="side-nav-extended-pane">
        </div>
        <div class="split-pane-divider" id="side-nav-divider"></div>
        <div class="split-pane-component" id="main-pane">
            <div class="split-pane fixed-right">
                <div class="split-pane-component" id="ace-editor-pane">
                    <div class="split-pane horizontal-percent">
                        <div class="split-pane-component" id="content-pane" data-intro='Use javascript templating engines to assemble report'>
                            <div id="htmlWrap">
                                <div class="full-content-right"><div class="full-content-right-text">html/xml content</div></div>
                                <div id="htmlArea" class="full-content">{{>content}}</div>
                            </div>
                        </div>
                        <div class="split-pane-divider" id="content-divider"></div>
                        <div class="split-pane-component" id="helpers-pane" data-intro='Here define javascript helper functions' data-position="top">
                            <div id="helpersWrap">
                                <div class="full-content-right"><div class="full-content-right-text">javascript helper functions</div></div>
                                <div id="helpersArea" class="full-content">{{>helpers}}</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="split-pane-divider" id="main-pane-divider"></div>
                <div class="split-pane-component" id="preview-pane">
                    <div id="frameOverlay"></div>
                    <iframe name="previewFrame" id="preview" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>