<div class="api-modal">
    <h5>Render and stream back report </h5>
    <span class="label label-info">POST: </span></span><a>{{:~getCurrentLocation()}}/report</a>
    <br /><span class="label label-default">BODY:</span>{ "template": { "shortid" : "{{:shortid}}" } }
    <h5>Render report and return it's reference</h5>
    <span class="label label-info">POST: </span></span><a>{{:~getCurrentLocation()}}/report</a>
    <br /><span class="label label-default">BODY:</span>{ "template": { "shortid" : "{{:shortid}}" } }, "options": { "async" : "true" }}
    <h5>Possible extensions overrides</h5>
    <code>
    {{for ~getBody()}}
        "{{:#data.key}}": "{{:#data.value}}"
    {{/for}}
    </code>
</div>