<div>
    <h5>Render and stream back report </h5>
    POST: {{:~getCurrentLocation()}}/report
    BODY: { "template": { "shortid" : "{{:shortid}}" } }
</div>
<div>
    <h5>Render report and return it's reference</h5>
    POST: {{:~getCurrentLocation()}}/report
    BODY: { "template": { "shortid" : "{{:shortid}}" } }, "options": { "async" : "true" }}
</div>
<div>
    <h5>Possible extensions overrides</h5>
    {{for ~getBody()}}
    <div>
        "{{:#data.key}}": "{{:#data.value}}"
    </div>
    {{/for}}
</div>