<ul class="nav navbar-nav side-nav side-size nav-list" id="extensionsBox">
    <li>
        <a class="expandable-header"><i class="glyphicon glyphicon-sm glyphicon-cog"></i>Basics <b class="caret caret-right"></b></a>
        <div class="expandable-body properties" style="display: none">
            <span class="side-title">Name</span>
            <input type="text" class="form-control area-mini" placeholder="Name your report" name="name">
            
            <span class="side-title">Engine</span>
            <div class="btn-group dropdown" data-binding="engine">
                <button class="btn btn-primary btn-sm dropdown-button" data-value="{{:engine}}">{{:engine}}</button>
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {{for ~getEngines()}}
                    <li><a data-value="{{:#data}}">{{:#data}}</a></li>
                    {{/for}}
                </ul>
            </div>
   
            <span class="side-title">Recipe</span>
            <div class="btn-group dropdown" data-binding="recipe">
                <button class="btn btn-primary btn-sm dropdown-button" id="recipe" data-value="{{:recipe}}">{{:recipe}}</button>
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {{for ~getRecipes()}}
                    <li><a data-value="{{:#data}}">{{:#data}}</a></li>
                    {{/for}}
                </ul>
            </div>
        </div>
    </li>
</ul>

<div class="navbar-header sub-header">
    <ul class="nav navbar-nav sub-header" id="extensionsToolbarBox">
        <p class="navbar-text" name="name">{{:name}}</p>
        <li><a id="previewCommand"><i class="glyphicon glyphicon-sm glyphicon-play"></i>Run</a></li>
        <li><a id="previewNewTabCommand"><i class="glyphicon glyphicon-sm glyphicon-fullscreen"></i>Run in new panel</a></li>
        <li><a id="saveCommand"><i class="glyphicon glyphicon-sm glyphicon-floppy-disk"></i>Save</a></li>
        {{if ~getSettings().mode != "playground" }}
            <li class="pull-right"><a id="apiHelpCommnand" class="pull-right"><i class="glyphicon glyphicon-sm glyphicon-question-sign"></i>API</a></li>
        {{else}}{{/if}}
    </ul>
</div>