<ul class="nav navbar-nav side-nav side-size nav-list" id="extensionsBox">
    <li>
        <a class="expandable-header"><i class="glyphicon glyphicon-sm glyphicon-cog"></i>Basics <b class="caret caret-right"></b></a>
        <div class="expandable-body properties">
            <span class="side-title">Engine</span>
            <div class="btn-group dropdown" data-binding="engine">
                <button class="btn btn-danger btn-xs dropdown-button" data-value="{{:engine}}">{{:engine}}</button>
                <button class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    {{for ~getEngines()}}
                    <li><a data-value="{{:#data}}">{{:#data}} </a></li>
                    {{/for}}
                </ul>
            </div>
   
            <span class="side-title">Recipe</span>
            <div class="btn-group dropdown" data-binding="recipe">
                <button class="btn btn-success btn-xs dropdown-button" id="recipe" data-value="{{:recipe}}"
                    >{{:recipe}}</button>
                <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    {{for ~getRecipes()}}
                    <li><a data-value="{{:#data}}">{{:#data}}</a></li>
                    {{/for}}
                </ul>
            </div>
        </div>
    </li>
</ul>

<div class="navbar-header submenu">
    <ul class="nav navbar-nav sub-header" id="extensionsToolbarBox">
        <li><a id="previewCommand" data-step="5" data-intro='Click Run to render report and display preview.'><i class="fa fa-play"></i>Run</a></li>
        <li><a id="previewNewTabCommand"><i class="fa fa-desktop"></i>Run in new tab</a></li>
        <li><a id="saveCommand"><i class="fa fa-save"></i>Save</a></li>
        <li class="pull-right"><a id="apiHelpCommnand" class="pull-right"  data-step="6" data-intro='Check how to invoke report rendering from your application.'><i class="fa fa-plug"></i>API</a></li>
        <li><a id="linkCommand"><i class="fa fa-link"></i>Link</a></li>
    </ul>
</div>