<div class="split-pane fixed-left">
    <div class="split-pane-component codespace" style="width: 50%">
      <div class="template-detail-title pull-left">
        {{title #data false}}{{/title}}
      </div>
        <ul class="nav nav-tabs nav-tabs-cm">
            <li class="active"><a href="#html" class="not-validate-leaving" data-toggle="tab">Html</a></li>
            <li><a href="#helpers" class="not-validate-leaving" data-toggle="tab">Helpers</a></li>  
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="html">
                <div id="htmlWrap">
                    <textarea id="htmlArea" class="full-content-without-menu">{{:content}}</textarea>
                </div>
            </div>
            <div class="tab-pane" id="helpers">
                <div id="helpersWrap">
                    <textarea id="helpersArea" class="full-content-without-menu">{{:helpers}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="split-pane-divider" id="my-divider"></div>
    <div class="split-pane-component" style="left: 50%; margin-left: 4px;">
        <ul class="nav nav-tabs nav-tabs-cm">
            <li id="previewPane">
                <a class="active">Preview
                    <img width="22px" height="16px" class="preview-loader" src="img/spinner-green2.gif" style="display: none"/>
                </a>
                    
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active preview-pane">
                <iframe name="previewFrame" id="preview" frameborder="0"></iframe>
            </div>
        </div>
    </div> 
</div>
