<div class="api-modal">
    <a id="docLink" href='http://jsreport.net/learn/api' class='fa fa-lightbulb-o' target="_blank"><span style="margin-left:5px">go to documentation</span></a>
    <h5>Render and stream back report </h5>
    <span class="label label-info">POST: </span><a>{{>~getCurrentLocation()}}api/report</a>
    <div style="margin-top:5px">
        <span class="label label-default">HEADERS:</span>
        <code>Content-Type: application/json</code>
    </div>
    <div style="margin-top:5px">
        <span class="label label-default">BODY:</span>
        <code>{ <br/>
        &nbsp&nbsp    "template": { "shortid" : "{{:shortid}}" }<br/>
        &nbsp&nbsp    "data": { aProperty: "value" } <br/>
        }</code>
    </div>
    <h5>Complex body with overrides</h5>
    <div id="apiBox" class="dialog-editor"></div>
</div>