<div class="split-pane fixed-left">
    <div class="split-pane-component codespace" style="width: 50%">
        <div class="template-detail-title pull-left" data-step="1"
             data-intro='Start with choosing report template name.'>
            {{title #data false}}{{/title}}
        </div>
        <ul class="nav nav-tabs nav-tabs-cm">
            <li class="active"><a href="#html" class="not-validate-leaving" data-toggle="tab" data-step="2" 
                                  data-intro='Fill here report layout assembled using chosen javascript templating engine.'>Content</a></li>
            <li><a href="#helpers" class="not-validate-leaving" data-toggle="tab" data-step="3"
                   data-intro='Optionaly fill here javascript templating engine helper functions.' 
                >Helpers</a></li>  
        </ul>
        

        <div class="tab-content">
            <div class="tab-pane active" id="html">
                <div id="htmlWrap">
                    <div id="htmlArea" class="full-content-without-menu">{{>content}}</div>
                </div>
            </div>
            <div class="tab-pane" id="helpers">
                <div id="helpersWrap">
                    <div id="helpersArea" class="full-content-without-menu">{{>helpers}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="split-pane-divider" id="my-divider"></div>
    <div class="split-pane-component" style="left: 50%; margin-left: 4px;">
        <ul class="nav nav-tabs nav-tabs-cm">
            <li id="previewPane">
                <a class="active" data-step="4" data-position="left"
                   data-intro='This tab will contain preview of the output report.'
                    >Preview
                    <img width="22px" height="16px" class="preview-loader" src="img/spinner-green2.gif" style="display: none"/>
                </a>
                    
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active preview-pane">
                <iframe name="previewFrame" id="preview" frameborder="0"></iframe>
            </div>
        </div>
    </div> 
</div>