<div class="container">
    <div class="row">
        <div id="dashboardBox" class="row" >
            
        </div>
        
   <!--     <div class="span4">
            <div style="margin: 20px">
                <input type="submit" style="width: 200px" value="Create new template" class="btn btn-sm btn-primary">
            </div>
            <div  style="margin: 20px">
                <input type="submit" style="width: 200px" value="See API documentation" class="btn btn-sm btn-primary">
            </div>
            <div  style="margin: 20px">
                <input type="submit" style="width: 200px" value="Website help" class="btn btn-sm btn-primary">
            </div>
             
        </div>-->
    </div>
</div>