<div id="searcherBox" style="clear:both">
</div>
<div>
    <table class="table table-hover fixed">
        <thead>
        <tr>
            {{if ~getOptions().showSelection}}
            <th class="selection">
                </span>
            </th>
            {{else}}{{/if}}
            {{if true tmpl=~getHeaderTemplate()}}{{else}}{{/if}}
        </tr>
        </thead>
        <tbody>
        {{for items}}
        <tr data-id="{{:~getIdFromIdKey(#data)}}">
            {{if ~getOptions().showSelection}}
            <td class="selection">
                <label>
                    <input type="checkbox" class="checkbox">
                    <span class="lbl"></span>
                </label>
            </td>
            {{else}}{{/if}}
            {{if true tmpl=~getRowsTemplate()}}{{else}}{{/if}}
        </tr>
        {{/for}}

        </tbody>
    </table>
    <div id="pagerBox">
    </div>
</div>