<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 20px"></th>
            {{if true tmpl=~getHeaderTemplate()}}{{else}}{{/if}}
        </tr>
    </thead>
    <tbody>
        {{for items}}
        <tr data-id="{{:~getIdFromIdKey(#data)}}">
            <td class="selection" style="width: 20px"></td>
            {{if true tmpl=~getRowsTemplate()}}{{else}}{{/if}}
        </tr>
        {{/for}}
          
    </tbody>
</table>
<div>
    <div><span id="deleteCommand" class="glyphicon glyphicon-trash"></span></div>
</div>
<div id="pagerBox">
    
</div>