<ul class="nav navbar-nav">
    <li><a {{if ~getSettings().mode != "playground"}}href="#"{{else}}href="/"{{/if}}><i class="fa fa-home"></i></a></li>
    {{:~renderMenuParts()}}
    
    {{if ~getSettings().mode != "playground"}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">actions</li>
            {{:~renderMenuActionParts()}}
        </ul>
    </li>
    {{else}}{{/if}}
</ul>

{{if ~getSettings().mode != "playground" }}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-info-btn" data-toggle="dropdown"><i class="fa fa-user fa-logged"></i><span class="user-info"><small> Welcome,<br><b>{{:~getTenant().name}}</b> ({{:~getTenant().email}})</small></span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a id='logoutLink' onclick=" $('#logoutBtn').click()"><i class="fa fa-power-off"></i> Logout</a>
                <form method="POST" action="/Logout">
                    <input type="submit" id="logoutBtn" style="display: none"/>
                </form>
            </li>
        </ul>
    </li>
</ul> 
{{else}}{{/if}}