<section class="editable-title">
    <span style="pull-left">
        <h3>
            <span class="title-label" name="name">{{:name}}</span>
            <input class="title-input" name="name" style="display: none; min-width: 180px"/>
            <button class="title-edit btn btn-sm">edit</button>
            <button class="title-confirm btn btn-sm" style="display: none;">done</button>
            {{if modificationDate}}
            <div><small>last modified({{:~dateToString(modificationDate)}})</small></div>
            {{else}}{{/if}}
        </h3>
    </span>
</section>
