<section class="editable-title">
    <span>
        <h3>
            <span class="title-label" name="name">{{:name}}</span>
            <input class="title-input" name="name" style="display: none; min-width: 180px"/>
            <button class="title-edit btn btn-xs"><i class="fa fa-pencil"></i></button>
            <button class="title-confirm btn btn-xs" style="display: none;">done</button>
            {{if modificationDate && renderDate}}
            <small>last modified ({{:~dateToString(modificationDate)}}) </small>
            {{else}}{{/if}}
        </h3>
    </span>
</section>
