<div>
    <div>
        <small class="side-title">Margin</small>
        <input type="text" class="form-control area-mini" placeholder="1 cm" name="margin" value="{{:margin}}">
    </div>

    <div>
        <small class="side-title">Header height</small>
        <input type="text" class="form-control area-mini" placeholder="1 cm" name="headerHeight"
               value="{{:headerHeight}}">
    </div>

    <div>
        <small class="side-title">Header</small>
        <textarea class="form-control side-textarea" placeholder="header content" name="header">{{:header}}</textarea>
    </div>

    <div>
        <small class="side-title">Footer height</small>
        <input type="text" class="form-control area-mini" placeholder="1 cm" name="footerHeight"
               value="{{:footerHeight}}">
    </div>

    <div>
        <small class="side-title">Footer</small>
        <textarea class="form-control side-textarea" placeholder="footer content" name="footer">{{:footer}}</textarea>
    </div>

    <div>
        <small class="side-title">Paper Format</small>
        <div class="btn-group dropdown" data-binding="format">
            <button class="btn btn-xs dropdown-button" data-value="{{:format}}">{{:format}}</button>
            <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a data-value="A4">A4</a></li>
                <li><a data-value="A3">A3</a></li>
                <li><a data-value="A5">A5</a></li>
                <li><a data-value="Legal">Legal</a></li>
                <li><a data-value="Letter">Letter</a></li>
                <li><a data-value="Tabloid">Tabloid</a></li>
            </ul>
        </div>
    </div>

    <div>
        <small class="side-title">Paper width</small>
        <input type="text" class="form-control area-mini" placeholder="600px" name="width" value="{{:width}}">
    </div>

    <div>
        <small class="side-title">Paper height</small>
        <input type="text" class="form-control area-mini" placeholder="600px" name="height" value="{{:height}}">
    </div>

    <div>
        <small class="side-title">Orientation</small>

        <div class="btn-group dropdown" data-binding="orientation">
            <button class="btn btn-xs dropdown-button" data-value="{{:orientation}}">{{:orientation}}</button>
            <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a data-value="portrait">portrait</a></li>
                <li><a data-value="landscape">landscape</a></li>
            </ul>
        </div>
    </div>
</div>