<a class="expandable-header"><i class="glyphicon glyphicon-book"></i>Phantom<b class="caret caret-right" {{if ~isFilled()}}style="color: green"{{else}}{{/if}}></b></a>
<div class="expandable-body properties" style="display: none">
    <span class="side-title">Margin</span>
    <input type="text" class="form-control area-mini" placeholder="1cm" name="margin" value="{{:margin}}">
    <span class="side-title">Header</span>
    <textarea placeholder="header content" name="header">{{:header}}</textarea>
    <span class="side-title">Footer</span>
    <textarea placeholder="footer content" name="footer">{{:footer}}</textarea>
</div>
