<div class="modal-dialog fs">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Inline data source</h4>
        </div>
        <div class="modal-body fs">
            {{if ~getMode()}}
               <textarea id="contentArea" class="full-content-without-menu">{{:dataJson}}</textarea>
            {{else}}
            {{/if}}
         
        </div>
        <div class="modal-footer">
            <button type="button" id="saveCommand" class="btn btn-primary btn-sm" data-dismiss="modal">Save</button>
        </div>
    </div>
</div>

