<a class="expandable-header"><i class="glyphicon glyphicon-book"></i>Data<b class="caret caret-right" {{if ~isFilled()}}style="color: green"{{else}}{{/if}}></b></a>

<div class="expandable-body properties" style="display: none">
    {{if ~getItemsLength() > 1}}
    <div class="btn-group" data-binding="shortid">
        <button class="btn btn-primary btn-sm dropdown-button" id="schema" data-value="{{:shortid}}">{{:name}}</button>
        <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{for ~getItems()}}
            <li role="presentation"><a role="menuitem" tabindex="-1" data-value="{{:shortid}}">{{:name}}</a></li>
            {{/for}}
        </ul>
    </div>
    {{else}}
    <a class="btn btn-primary" href="/#/extension/data/detail">Create</a>
    {{/if}}
</div>