<div class="extended-menu-options">
    <a class='fa fa-lightbulb-o' href="http://jsreport.net/learn/inline-data" target="_blank"
       title="Here you can define sample input data for report previewing. This data will be then override during real report rendering. Click to see the documentation.">
            <span style="margin-left:5px">
                Sample input data (hover)
            </span>
    </a>
    {{if ~getApp().options.scripts.allowChoosing}}
    <div class="btn-group" data-binding="shortid">
        <button class="btn btn-success btn-xs dropdown-button" id="schema" data-value="{{:shortid}}">{{:name}}</button>
        <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            {{for ~getItems()}}
            <li role="presentation"><a role="menuitem" tabindex="-1" data-value="{{:shortid}}">{{:name}}</a></li>
            {{/for}}
        </ul>
    </div>
    {{else}}{{/if}}
</div>

<div id="contentWrap">
    <div id="contentArea" class="full-content-menu">{{:dataJson}}</div>
</div>

