<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jsreport</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="author" content="Jan Blaha">
    <meta name="description" content="jsreport - javascript business reports">
    <meta name="viewport" content="width=400, initial-scale=1">
    <script src="../../extension/express/public/lib/jquery.js"></script>
    <script src="../../extension/express/public/lib/jsrender.js"></script>
    <script src="../../extension/client-app/public/js/client.js"></script>
    <script src="../../extension/embedding/public/js/embed.js"></script>
    <link href="../../extension/client-app/public/fonts/flaticon.css" rel="stylesheet">
    <link href="../../extension/client-app/public/css/client.css" rel="stylesheet">
</head>
<body>

<script>
    var jsreportOptions = {
        mode: '<%= mode %>',
        isAuthEnabled: <%= isAuthEnabled %>,
    }

</script>

<script id="list-template" type="text/x-jsrender">
    <div class="container">
    <ul id="templates" class="list">
        {{for items ~root=#data}}
        <li id="{{:shortid}}">
        <a class="template-link" href="{{if ~root.mode == "reports"}}#/template-reports/{{:shortid}}{{else}}#/template/{{:shortid}}{{/if}}">
                    <span class="template-name">{{:name}}</span>
                    <span class="date">{{:modificationDate}}</span>
        </a>
        </li>
        {{/for}}
     </ul>
     </div>
</script>

<script id="reports-template" type="text/x-jsrender">
    <div class="container">
    <ul id="reports" class="list">
        {{if items.length == 0}}
         <p>
            No report exists for this template.
         </p>
        {{else}}{{/if}}
        {{for items}}
            <li id="{{:shortid}}">
                <a class="report-link" href="#/report/{{:_id}}">
                    <span class="report-name">{{:name}}</span>
                    <span class="date">{{:creationDate}}</span>
                </a>
            </li>
        {{/for}}
     </ul>
     </div>
</script>

<script id="report-template" type="text/x-jsrender">
    <iframe src="reports/{{:_id}}/content"></iframe>
</script>

<nav>
    <ul>
        <li class="float-left">
           <a class="home navbar-brand"></a>
        </li>
        <li class="float-left list-command" id="switchMixedMode">
            <a class="flaticon-notebook91" title="Switch to display stored Reports or render directly Templates">
                <div class="icon-title">
                    Reports | Templates
                </div>
            </a>
        </li>
        <li class="float-left template-command" id="goToList">
            <a class="flaticon-sign10" title="Navigate to the templates list" href="#/list">
                <div class="icon-title">
                    Home
                </div>
            </a>
        </li>
        <li class="float-left template-command" id="openStudio">
            <a class="flaticon-checkbox6" title="Open template for editing">
                <div class="icon-title">
                    Open Studio
                </div>
            </a>
        </li>
        <li id="title-box">
            <a id="title"></a>
        </li>
        <li class="float-right last">
            <a id="logout" class="flaticon-plug" title="Logout">
                <div class="icon-title">
                    Logout
                </div>
            </a>
            <form method="POST" action="logout">
                <input type="submit" id="logoutBtn" style="display: none"/>
            </form>
        </li>
    </ul>
</nav>

<div id="page">

</div>

</body>
</html>
