<html>
    <head>
        <title>Tenant registration</title>
    </head>
    <body>
        
        <h1> Sign In</h1>
        <form action="/login" method="POST">
            <div>
                <span>Email for login</span> <input type="text" name="username" value=""/>
            </div>
            <div>
                <span>Password</span> <input type="password" name="password" value=""/>
            </div>
        
            <div>
                <input type="submit" value="Login"/>
            </div>
            <div>
                <% if (viewModel.login) { %>
                <h4 style="color: red"><%= viewModel.login %></h4>
                <% } %>
            </div>
        </form>
        
        <h1> Register new account</h1>
        <form action="/register" method="POST">
            <div>
                <span>Email for login</span> <input type="text" name="username" value="<%= viewModel.previousUsername || '' %>"/>
            </div>
            <div>
                <span>Name</span> <input type="text" name="name" value="<%= viewModel.previousName || '' %>"/>
                <% if (viewModel.name) { %>
                <h4 style="color: red"><%= viewModel.name %></h4>
                <% } %>
            </div>
            
            <div>
                <span>Password</span> <input type="password" name="password"/>
                <% if (viewModel.password) { %>
                <h4 style="color: red"><%= viewModel.password %></h4>
                <% } %>
            </div>
            <div>
                <span>Password Confirmation</span> <input type="password" name="passwordConfirm"/>
                <% if (viewModel.passwordConfirm) { %>
                <h4 style="color: red"><%= viewModel.passwordConfirm %></h4>
                <% } %>
            </div>
        
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </body>
</html>