* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden
}

table {
    height: 100%;
    width: 100%;
    table-layout: static;
    border-collapse: collapse
}

iframe {
    height: 100%;
    width: 100%
}

#page {
    height: 95%
}

body {
    color: #333;
    font-family: arial
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #222;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    padding:0;
    color: white;
    height: 50px;
}

nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display:inline;
    cursor: pointer;
    padding-left: 10px;
    text-align: center;
    line-height: 35px;
}

nav ul li.last {
    padding-right: 10px;
}

nav ul li#title-box a{
    color:white;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    line-height: 32px;
}

nav ul li a.default-template{
    color:yellow;
}


nav ul li a {
    display:inline-block;
    padding-top:4px;
}

.icon-title {
    font-size: 10px;
    margin-top: -20px;
}

.navbar-brand {
    background: url("../img/js-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    margin: 15px 10px 0 10px;
    width: 119px;
    height: 26px;
}

@media only screen and (max-width: 600px) {
    nav ul li#title-box a{
        display:none;
    }
}

@media only screen and (max-width: 600px) {
    nav ul li#title-box a{
        display:none;
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 32px;
        font-style: normal;
    }
}

.container {
    background-color: #ececec;
    padding-top: 15px;
    height: 100%;
}

#page {
    padding-top: 50px;
}

.float-right {
    float:right
}

.float-left {
    float:left
}

.list {
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.list li {
    margin: 10px;
    background-color: #ececec;
    border: 1px solid #ababab;
    cursor: pointer;
}

.list li a{
    color: #1e0000;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}

.list li a:hover{
    background-color: lightskyblue;
}

.list li a span.date{
    font-size: 10px
}

.template-command {
    display:none;
}

.mixed-mode-reports {
    color: yellow;
}

[class^="flaticon-"] {
    color: inherit;
    text-decoration: inherit;
}
