<div>
    {{title #data}}{{/title}}
</div>


<div class="row">
    <div class="col-lg-6">
        <div>
            <span class="side-title">Cron</span>
            <input type="text" class="form-control area-mini" placeholder="00 30 11 * * 1-5" name="cron"
                   value="{{:cron}}">
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <span class="side-title">Next Run</span>
            <span class="form-control area-mini" placeholder="00 30 11 * * 1-5">{{:~dateToString(nextRun)}}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <span class="side-title">Template</span>

        <div class="btn-group" data-binding="templateShortid">
            <button class="btn btn-info btn-xs dropdown-button" id="schema" data-value="{{:templateShortid}}">
                {{:templateName}}
            </button>
            <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                {{for ~getTemplates()}}
                <li role="presentation"><a role="menuitem" tabindex="-1" data-value="{{:shortid}}">{{:name}}</a>
                </li>
                {{/for}}
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <span class="side-title">Enabled</span>
            <input type="checkbox" name="enabled" checked="checked"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="tasksGridBox"></div>
    </div>
</div>



