<div class="extended-menu-options">
    <div>
        <a class='fa fa-lightbulb-o' href="http://jsreport.net/learn/scripts" target="_blank" title="Here you can define a custom javascript that will run on the server before report rendering. This could be used to load input data from the remote system. Click to see documentation.">
            <span style="margin-left:5px">
                Custom script (hover)
            </span>
        </a>
    </div>

    {{if ~getApp().options.scripts.allowSelection}}
    <div class="btn-group" data-binding="shortid">
        <button class="btn btn-success btn-xs dropdown-button" id="schema" data-value="{{:shortid}}">{{:name}}</button>
        <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            {{for ~getItems()}}
            <li><a data-value="{{:shortid}}">{{:name}}</a></li>
            {{/for}}
        </ul>
    </div>
    {{else}}{{/if}}
</div>


<div id="contentWrap">
    <div id="contentArea" class="full-content-menu">{{:content}}</div>
</div>





