<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share template with people having the link</h4>
        </div>
        <div class="modal-body">
            <div>
                {{if readSharingToken}}
                <div>
                    <h5>Link with read permissions</h5>
                </div>
                <a target="_blank" href="{{>~getCurrentLocation()}}public-templates?access_token={{:readSharingToken}}">{{>~getCurrentLocation()}}public-templates?access_token={{:readSharingToken}}</a>
                {{else}}
                <button type="button" class="btn btn-primary btn-xs" id="readLinkCommand">Generate Read Link</button>
                {{/if}}
                <div class="top5">
                    <p class="bg-danger padding10">
                        When requesting this link, jsreport will skip the authentication and authorization and render this particular template. User will be also able to execute
                        any of the jsreport recipes from the served page but won't be allowed to access any of the existing templates or other entities.
                    </p>
                </div>
            </div>
            <div class="top10">
                {{if writeSharingToken}}
                <div>
                    <h5>Link with write permissions</h5>
                </div>
                <a target="_blank" href="{{>~getCurrentLocation()}}public-templates?access_token={{:writeSharingToken}}">{{>~getCurrentLocation()}}public-templates?access_token={{:writeSharingToken}}</a>
                {{else}}
                <button type="button" class="btn btn-primary btn-xs" id="writeLinkCommand">Generate Write Link</button>
                {{/if}}
                <div  class="top5">
                    <p class="bg-danger padding10">
                        In addition to the "read link" user will be also able to update this particular template for example using
                        jsreport embedded editor.
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>