<div class="panel panel-warning col-lg-8">
    <div class="panel-heading">
        <h3 class="panel-title">statistics</h3>
    </div>
    <div class="panel-body">
         <div class="btn-group dropdown" data-binding="filter">
                <button class="btn btn-primary btn-sm dropdown-button" id="filter" data-value="{{:filter}}">{{:filter}}</button>
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a data-value="Last hour">Last hour</a></li>
                    <li><a data-value="Last 24 hours">Last 24 hours</a></li>
                    <li><a data-value="Last 7 days">Last 7 days</a></li>
                </ul>
            </div>
    <div id="chartBox"style="height: 300px;"></div>
    </div>
</div>