.navbar {
    min-height: 25px;
    margin-bottom: 0px;
}
.submenu .navbar-nav > li > a.brand {
    width: 120px;
    height: 25px;
    background: url(../img/js-logo.png) no-repeat;
}

.submenu .navbar-nav > li > a.brand:hover {
    width: 120px;
    height: 25px;
    background: url(../img/js-logo.png) no-repeat;
}

li {
    cursor: pointer;
}

.side-nav {
    margin-left: -45px;
    left: 45px;
    width: 45px;
    position: absolute;
    clear: both;
    top: 25px;
    bottom: 0px;
    border: none;
    background-color: #333333;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.side-nav i.fa {
    font-size: 22px;
    color: white;
}

.side-nav > li > a:hover,
.side-nav > li > a:focus {
    color: #fff;
    background: #0887c5;
}

.submenu .navbar-nav > li > a,
.submenu .navbar-nav > li > a {
    color: #fff;
    height: 27px;
    background: #0887c5;
}

.submenu .navbar-nav > li > a:hover,
.submenu .navbar-nav > li > a:focus {
    color: #fff;
    background: #1ba1e2;
}

.submenu {
    clear: both;
    width: 100%;
    padding-left: 5px;
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    background-color: #0887c5;
}

.submenu > ul > li > a {
    padding: 4px 14px 0px 14px;
}

.submenu i.fa {
    margin-right: 6px;
    font-size: 12px;
}


#side-nav-extended-pane {
    width: 0px;
    padding: 15px;
    min-width: 230px;
}

#side-nav-divider {
    width: 5px;
    left: 0px;
}

#main-pane {
    left: 0px;
    margin-left: 0px;
}

#ace-editor-pane {
    right: 35%;
    margin-right: 5px;
}

#main-pane-divider {
    right: 35%;
    width: 5px;
}

#preview-pane {
    width: 35%;
    height: 100%;
}

iframe#preview {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#content-pane {
    bottom: 35%;
    margin-bottom: 5px;
}

#content-divider {
    bottom: 35%;
    height: 5px;
}

#helpers-pane {
    height: 35%;
}

#template-detail-wrap {
    top: 25px;
    left: 45px;
    right: 0px;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0px;
}

.full-content {
    display: block;
    position: absolute !important;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: auto;
    padding: 0px;
    width: 100%;
    margin-top: 13px;
}

.full-content-right {
     width: 100%;
     position: absolute !important;
     top: 0px;
     height:13px;
     background-color: #F5F5F5;
 }

.full-content-right-text {
    float: right;
    font-size: 9px;
}

.full-content-menu {
    display: block;
    position: absolute !important;
    height: auto;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: auto;
    width: 100%;
    margin-top: 0px;
}

.split-pane-divider {
    width: 5px;
    background-color: #eeeeee;
}

.split-pane {
    height: 100%;
    overflow: auto;
    position: relative;
}

.btn { text-align: left; }

li.dropdown.open > ul > li > a {
    text-transform: none;
    font-size: 13px !important;
}

.dropdown-menu > li > a {
    padding: 8px 15px 8px 15px;
    font-size: 12px !important;
}

#side-nav-extended-pane .btn:first-child {
    width: 120px;
}

img#loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px; /* -1 * image width / 2 */
    margin-top: -100px; /* -1 * image height / 2 */
    display: block;
}

.extended-menu-options {
    margin-bottom: 10px;
}



