html, body {
    height: 100%;
    overflow: visible;
}

/* Side Menu template */

body { padding-top: 70px; }

#wrapper { margin-left: 190px; }

#page-wrapper { padding: 0px 205px 0px 15px; }

li { cursor: pointer; }
  
/* Table Headers */

table.tablesorter thead { cursor: pointer; }

table.tablesorter thead tr th:hover { background-color: #f5f5f5; }

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

  /* Side Nav */

.side-nav {
    margin-left: -190px;
    left: 190px;
    width: 190px;
    position: fixed;
    clear: both;
    height: 100%;
    border-radius: 0;
    top: 75px;
    border: none;
    background-color: #f7f7f7;
    border-right: 1px solid #d2d2d2;
    overflow-y: auto;
    max-height: 90%;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.side-nav-right {
    margin-right: -190px;
    right: 190px;
    width: 190px;
    position: fixed;
    clear: both;
    height: 100%;
    border-radius: 0;
    top: 75px;
    border: none;
    background-color: #f7f7f7;
    border-left: 1px solid #d2d2d2;
    overflow-y: auto;
}


  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

.side-nav > li.dropdown > ul.dropdown-menu {
    position: relative;
    min-width: 190px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.side-nav > li.dropdown > ul.dropdown-menu > li > a {
    color: #000;
    padding: 15px 15px 15px 25px;
}

.side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
.side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
.side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
    color: #000;
    background-color: #dddddd;
}

.side-nav > li > a {
    width: 190px;
    height: 32px;
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus { background-color: #201a1a; }

.submenu .navbar-nav > li > a,
.submenu .navbar-nav > li > a {
    color: #fff;
    height: 27px;
    background: #1ba1e2;
}

.submenu .navbar-nav > li > a:hover,
.submenu .navbar-nav > li > a:focus {
    color: #fff;
    background: #0887c5;
}

ul. subheader { border-bottom: 2px solid #0887c5; }

/* Navbar JS Report Logotype */

.navbar-brand {
    display: block;
    margin: 10px 27px 0px 10px;
    width: 152px;
    height: 26px;
    background: url(../img/js-logo.png) no-repeat;
} 

/* Navbar Submenu UL, LI, A */

.submenu {
    clear: both;
    width: 100%;
    padding-left: 190px;
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    background-color: #1ba1e2;
    border-top: 1px solid #6ed0ff !important;
    border-bottom: 2px solid #0887c5;
    text-transform: none !important;
}

.submenu > ul > li > a { padding: 4px 14px 0px 14px; }

.submenu i.fa {
    margin-right: 6px;
    font-size: 12px;
}

.navbar-header { border-top: 0px solid #007da6; }

/* Navbar Submenu Text */

.navbar .navbar-text {
    display: block;
    min-width: 190px;
    height: 30px;
    color: #fff;
    max-height: 28px;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 7px 2px 8px;
} 
    
/* Side Menu */

.side-nav > ul > li > a { color: #000; }

/* Navbar Bottom */

.navbar-fixed-bottom { min-height: 60px; }

.breadcrumb.none {
    border: 0px;
    background: none;
    padding: 0px;
}

.top20 { margin-top: 20px; }

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


/* side-nav menu */

.navbar .navbar-nav.nav-list > li > a {
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 16px 0 7px;
    background-color: #f3f3f3;
    color: #333333;
    text-shadow: none!important;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #dcdcdc;
}

.navbar .navbar-nav.nav-list > li > a:hover { background-color: #e9e9e9; }

.nav-list > li > a > [class*="icon-"]:first-child {
    display: inline-block;
    vertical-align: middle;
    min-width: 20px;
    color: #333333;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-right: 3px;
}

.nav-list > li > a:hover > :first-child { color: #333333; }

.nav-list > li > a:hover { color: #333333; }

/* side-nav menu dropdown items */

.navbar .navbar-nav.nav-list > li > ul > li > a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 16px 0 16px;
    background-color: #ffffff;
    text-shadow: none!important;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted #e5e5e5;
}

.navbar .navbar-nav.nav-list > li > ul > li > a:hover {
    background-color: #f9f9f9;
    border-bottom: 1px dotted #d4d4d4;
    color: #007aa3;
}

.navbar .navbar-nav.nav-list > li > ul > li > a:before {
    padding-left: 4px;
    content: "\00BB \0020";
    margin-right: 6px;
}

/* side-nav menu for special john's features :) */

.navbar .navbar-nav.nav-list > div > li > a {
    clear: both;
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 16px 0 12px;
    margin: 0px;
    background: #f5f5f5;
    color: #585858;
    text-decoration: none;
    text-shadow: none!important;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu > li > a {
    padding: 8px 15px 8px 15px;
    font-size: 12px !important;
}

#menu > div > ul > li {
    text-transform: uppercase;
    font-size: 12px;
}

li.dropdown.open > ul > li > a {
    text-transform: none;
    font-size: 13px !important;
}

.btn { text-align: left; }

.navbar .navbar-nav.nav-list > div > li > a > [class*="icon-"]:first-child {
    display: inline-block;
    vertical-align: middle;
    min-width: 20px;
    color: #333333;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
}

.navbar .navbar-nav.nav-list > div > li > a:hover > :first-child { color: #007aa3; }

.navbar .navbar-nav.nav-list > div > li > a:hover { color: #007aa3; }


/* Components properties */

.expandable-body {
    background-color: #fff;
    cursor: default;
}

.expandable-body .btn {
    width: 175px;
    max-width: 175px;
    margin-top: 6px
}

.expandable-body .dropdown-button { width: 135px; }

.expandable-body .dropdown-toggle { width: 40px; }

.properties {
    padding: 0px 6px 6px 6px;
    left: 0px;
    background: #fff;
}

.properties li {
    font-size: 12px;
    font-weight: normal;
}

.area-mini {
    height: 26px;
    font-size: 12px;
}

textarea .side-textarea {
    width: 175px;
    max-width: 175px;
}

.side-setup { background-color: #fff; }

.side-title {
    display: inline-block;
    width: 100%;
    margin: 6px 0px 2px 0px;
    border-bottom: 1px dotted #e7e7e7;
    font-weight: 500;
}

/* Glyphicon */

i.glyphicon { margin-right: 4px; }

.side-nav i.glyphicon {
    margin-right: 10px;
    top: -1px;
}

.glyphicon-sm { font-size: 11px; }

.glyphicon-sm2 { font-size: 10px; }

.nav.nav-tabs > li.dropdown.active.open > a,
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a,
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover {
    color: #fff;
    background-color: #b91773;
    border-color: #fff;
}

.modal-dialog {
    width: 40%;
    height: 40%;
    padding: 0;
    padding-top: 10%;
}

.modal-dialog.fs {
    width: 60%;
    height: 60%;
    padding: 0;
    padding-top: 1%;
}

.modal-body.fs { min-height: 300px }


/* Example Report Title */

blockquote { margin-bottom: 10px; }

/* HTML, HELPERS, PREVIEW */

.nav-tabs a {
    height: 35px;
    padding-top: 6px;
    font-size: 13px;
}

.dropdown-header {
    margin-top: 5px;
    border-bottom: 1px solid #555;
}

.side-nav .caret-right {
    float: right;
    margin-left: 0;
    margin-top: 17px;
    color: #999;
}

/* Report Detail */

.report-view {
    width: 100%;
    height: 90em;
}

.template-detail {
    width: 100%;
    height: 90%;
    border: 1px solid #dddddd;
    overflow: visible;
}

/* Template Detail */

img#loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px; /* -1 * image width / 2 */
    margin-top: -100px; /* -1 * image height / 2 */
    display: block;
}

/* Template Creator - Preview */

iframe#preview {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tab-content { }

.tab-pane { }

/* Tables */

.table {
    margin-top: 20px;
    color: #333333;
    border-bottom: 1px solid #ddd;
}

table a { color: #333333; }

table a:hover {
    text-decoration: none;
    color: #333333;
}

.table td:hover {
    cursor: pointer;
    text-decoration: none;
}

.table:hover { text-decoration: none; }

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
}

label {
    display: block;
    margin-top: 4px;
    margin-left: 3px
}

.table thead {
    font-size: 13px;
    color: #4d4d4d;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 5px 10px;
    vertical-align: middle;
}

.table > thead > tr > th {
    padding: 2px 10px 5px 10px;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table > thead > tr > td:last-child,
.table > thead > tr > th:last-child { border-right: 0; }

.table > tbody > tr {
    vertical-align: middle;
    border-bottom: 2px solid #fff;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #ecf8fe;
    color: #1ba1e2 !important;
}

.table-hover > tbody { }

.table-hover > tbody > tr:hover > td.ui-selected { background-color: #effaff; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th { background-color: #f9f9f9; }

tbody > tr.ui-selected, tr.ui-selectee.ui-selected td.link.link, tr.ui-selectee.ui-selected td.selection, tr.ui-selected td.link a {
    background: #1ba1e2;
    color: #fff;
}

.table td.link {
    background-color: #f9f9f9;
    color: #fff;
}

.table td.link:hover {
    background-color: #1ba1e2;
    color: #fff;
}

.table td.link:hover a {
    color: #fff;
    display: block;
}

.table td.link:hover a:after {
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    float: right;
    font-size: 12px;
    padding-right: 0.5em;
}

.table td.link a { }

.table td.link a:hover { color: #fff; }

table.fixed { table-layout: fixed; }

table.fixed td { overflow: hidden; }

.pagination { text-align: center; }

td.selection, th.selection {
    margin: 0;
    width: 40px;
    text-align: center;
}  

/* Pagination Pager */

ul.pagination {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

ul.pagination li { display: inline-block; }

.not-responsive {
    min-width: 1000px !important;
    width: 100%;
}

/* API Modal */

.api-modal h5 {
    font-weight: bold;
    margin-top: 20px;
}

.api-modal .label { margin-right: 10px; }

h3 small {
    font-size: 13px;
    color: #777;
    margin-left: 7px;
}

/* Editable */

.title-input {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 6px;
}

.title-edit, .title-confirm {
    vertical-align: bottom;
    height: 33px;
}

/* Dashboard - Panels */

.panel-heading { height: 48px; }

.panel-warning > .panel-heading .caret { color: #fff; }

.panel-heading h3 {
    padding-top: 7.5px;
    font-weight: 400;
}

.panel-body {
    min-height: 280px;
    padding: 8px;
}

.panel-body > .table td.link { height: 46px; }

.panel-footer { min-height: 40px; }

.panel-footer a {
    font-size: 12px;
    color: #333;
}

/* ChartBox */

#chartBox { height: 300px; }

/* Navbar - User logged */

.user-info {
    font-size: 13px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    line-height: 14px;
    position: relative;
    max-height: 18px;
    top: -7px;
    text-transform: none;
}

a.user-info-btn { margin-right: 15px; }

.fa-logged {
    margin-right: 10px;
    font-size: 16px;
}


.full-content {
    display: block;
    position: absolute !important;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 205px;
    margin-left: 200px;
    border: 1px solid #dddddd;
}

.full-content-without-menu {
    display: block;
    position: absolute !important;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 34px;
    border: 1px solid #dddddd;
}

.split-pane {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0px;
    right: 0;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 190px;
    margin-top: 25px;
}


.preview-pane {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 34px;
    border: 1px solid #dddddd;
}

.template-detail-wrap {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 200px;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 70px;
}

.split-pane-component.codespace { min-width: 200px; }

#my-divider {
    width: 4px;
    left: 50%;
}

.nav-dashboard { margin-top: -32px; }

#dashboardBox { margin-top: 20px; }

.nav-tabs { border-bottom: 0px; }

#footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #ddd;
    text-align: center;
    padding-top: 18px;
    color: #333333;
    font-size: 12px;
}

.navbar i.fa-home { font-size: 17px; }

.nav-tabs-cm {
    float: right;
    margin-right: 3px;
}

.version-info {
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 18px;
    color: #333333;
    font-size: 12px;
}

.template-detail-title {
    display: block;
    margin-top: -25px;
}

.navbar-nav > li > a { padding: 12px; }

.ace_print-margin {
    display: none;
}

.dialog-editor {
    width: 100%;
    height: 175px;
}