html, body {height:100%; overflow: visible;}

/* Side Menu template */
body {
  padding-top: 80px;
}

#wrapper {
  margin-left: 190px;
}
 
#page-wrapper {
  padding: 0px 15px;
}

li { cursor: pointer; cursor: hand;}
  
/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

  /* Side Nav */
.side-nav {
	margin-left: -190px;
	left: 190px;
	width: 190px;
	position: fixed;
  clear: both;
	height: 100%;
	border-radius: 0;
  top: 77px;
	border: none;
	background-color: #e7e7e7;
  border-right: 1px solid #c4c4c4;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 190px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #000;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #000;
	background-color: #dddddd;
  }

  .side-nav>li>a {
	width: 190px;
    height: 32px;
    border-bottom: 1px solid #dddddd;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #006687;
  }

   .sub-header .navbar-nav>li>a,
   .sub-header .navbar-nav>li>a {
	color: #ececec;
}

   .sub-header .navbar-nav>li>a:hover,
   .sub-header .navbar-nav>li>a:focus {
    background-color: #212121;
	color: #ffffff;
}

/* Override CSS */
/* Navbar JS Report Logotype 
.navbar-brand {
  display: block;
  margin: 10px 0px 0px 10px;
  width: 180px;
  height: 26px;
  background: url(../img/jsreport-logo.png) no-repeat;
 }  */

/* Navbar Submenu UL, LI, A */
.sub-header {
	clear: both;
	width: 100%;
  min-width: 1000px !important;
 	background: #333333;
	font-size: 13px;
  height: 32px;
}

.sub-header > ul > li > a {
    padding: 6px 12px 0px 12px;
}

/* Navbar Submenu Text */
.navbar-inverse .navbar-text {
  display: block;
  color: #ffffff;
  min-width: 190px;
	height: 32px;
	max-height: 32px;
	margin: 0px;
	font-size: 14px;
	font-weight: 400;
	padding: 3px 7px 2px 8px;
	background: #555;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	border-left: 4px solid #333;
}
    
/* Side Menu */
.side-nav > ul > li > a {
    color: black;
}

/* Navbar Bottom */
.navbar-fixed-bottom {
    min-height: 60px;
}

.breadcrumb.none {
    border: 0px;
    background: none;
    padding: 0px;
}

.top20 {
margin-top: 20px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


/* side-nav menu */
.navbar-inverse .navbar-nav.nav-list>li>a{display:block;height: 36px;line-height:36px;padding: 0 16px 0 7px;background-color:#f5f5f5;color:#333333;text-shadow:none!important;font-size:13px;text-decoration:none;border-bottom: 1px solid #dcdcdc;}
.navbar-inverse .navbar-nav.nav-list>li>a:hover{background-color:#efefef;}

.nav-list>li>a>[class*="icon-"]:first-child{display:inline-block;vertical-align:middle;min-width: 20px;color:#333333;text-align:center;font-size: 12px;font-weight:normal;margin-right:3px;}
.nav-list>li>a:hover>:first-child{color:#333333;}
.nav-list>li>a:hover{color:#333333;}

/* side-nav menu dropdown items */
.navbar-inverse .navbar-nav.nav-list>li>ul>li>a{display:block;height: 38px;line-height:38px;padding: 0 16px 0 16px;background-color:#ffffff;text-shadow:none!important;font-size:12px;text-decoration:none;border-bottom: 1px dotted #e5e5e5;}
.navbar-inverse .navbar-nav.nav-list>li>ul>li>a:hover {background-color:#ffffff; border-bottom: 1px dotted #d4d4d4; color: #007aa3;}
.navbar-inverse .navbar-nav.nav-list>li>ul>li>a:before{padding-left: 4px; content: "\00BB \0020"; margin-right: 6px;}

/* side-nav menu for special john's features :) */
.navbar-inverse .navbar-nav.nav-list>div>li>a {
clear: both;
display: block;
height: 38px;
line-height:38px;
padding: 0 16px 0 12px;
margin: 0px;
background: #f5f5f5;
color: #585858;
text-decoration: none;
text-shadow:none!important;
border-bottom: 1px solid #e5e5e5;
}

.navbar-inverse .navbar-nav.nav-list>div>li>a>[class*="icon-"]:first-child{display:inline-block;vertical-align:middle;min-width:20px;color:#333333;text-align:center;font-size: 14px;font-weight:normal;margin-right:2px;}
.navbar-inverse .navbar-nav.nav-list>div>li>a:hover>:first-child{color:#007aa3;}
.navbar-inverse .navbar-nav.nav-list>div>li>a:hover{color:#007aa3;}
/*.navbar-inverse .navbar-nav.nav-list>div>li>a:hover:before{display:block;content:"";position:absolute;top: -1px;bottom:0;left:0;width:4px;max-width:4px;max-height: 38px;overflow:hidden;color:#585858;background-color:#007aa3;} */


#extensionsBox div {
 /*toto kurvi animace, tak to nejak pores nebo smaz*/
/*min-height: 38px;*/
}

/* Components properties */
.expandable-body {background-color: #fff; cursor: default;}
.expandable-body .btn {width: 175px; margin-top: 6px}
.expandable-body .dropdown-button {width: 135px;}
.expandable-body .dropdown-toggle {width: 40px;}
.properties {padding: 0px 6px 6px 6px; left: 0px;background: #fff;}
.properties li {font-size: 12px; font-weight: normal;}
.area-mini {height: 26px; font-size: 12px;}
.side-setup {background-color: #fff;}
.side-title {display: inline-block; width: 100%; margin: 6px 0px 2px 0px; border-bottom: 1px dotted #e7e7e7; font-weight: 500;}

/* Glyphicon */
i.glyphicon {margin-right: 4px;}
.side-nav i.glyphicon {margin-right: 10px; top: -1px;}
.glyphicon-sm {font-size: 11px;}
.glyphicon-sm2 {font-size: 10px;}

.nav.nav-tabs > li.dropdown.active.open > a, 
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a, 
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}

/* Modal fixing width 90% */
.modal-dialog {width: 40%; height: 40%; padding: 0; padding-top: 10%;}
.modal-dialog.fs {width: 90%; height: 90%; padding: 0; padding-top: 1%;}

/* Example Report Title */
blockquote {margin-bottom: 10px;}

/* HTML, HELPERS, PREVIEW */
.nav-tabs a {
   height: 35px;
   padding-top: 6px;
   font-size: 13px;
}

.dropdown-header{margin-top: 5px;border-bottom: 1px solid #37afcf;}
.side-nav .caret-right {float: right; margin-left: 0; margin-top: 17px; color: #7e7e7e;}

/* Report Detail */
.report-view {
   width: 100%;
   height: 100%;
}

.template-detail {
   width: 100%;
   height: 90%;
   overflow: visible;
}

/* Template Detail */
img#loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px; /* -1 * image width / 2 */
    margin-top: -100px;  /* -1 * image height / 2 */
    display: block;  
}

/* Template Creator - CodeMirror + Preview */
iframe#preview {
	width: 100%;
  height: 100%;
  overflow: auto;
}

.tab-content {}
.tab-pane {}

/* Tables */
.table {
  margin-top: 20px;
  color: #333333;
  border-bottom: 1px solid #ddd;
}

table a {color: #333333;}
table a:hover {text-decoration: none; color: #333333;}

.table td:hover {
  cursor: pointer;
  text-decoration: none;
}

.table:hover {
  text-decoration: none;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
    width: 15px;
	height: 15px;
	cursor: pointer;
	vertical-align: middle;
}

label {
    display: block;
	margin-top: 4px;
	margin-left: 3px
}

.table thead {
font-size: 13px;
color: #4d4d4d;

}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px 10px;
  vertical-align: middle;
}

.table > thead > tr > th {
	padding: 2px 10px 5px 10px;
  vertical-align: bottom;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table > thead > tr > td:last-child,
.table > thead > tr > th:last-child {
  border-right: 0;
}

.table > tbody > tr {
    vertical-align: middle;
	border-bottom: 2px solid #fff;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #e6f8fe;
  	color: #1099c6 !important;
}

.table-hover > tbody {

}

.table-hover > tbody > tr:hover > td.ui-selected {
  background-color: #effaff;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

tbody > tr.ui-selected, tr.ui-selectee.ui-selected td.link.link, tr.ui-selectee.ui-selected td.selection, tr.ui-selected td.link a {
	background: #1099c6;
	color: #fff;
}

.table td.link {
  background-color: #f9f9f9;
  color: #fff;
}

.table td.link:hover {
  background-color: #1099c6;
  color: #fff;
}

.table td.link:hover a {
  color: #fff;
  display: block;
}

.table td.link:hover a:after {
	  content: "\f061"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    float: right;
    font-size: 12px;
    padding-right: 0.5em;
}

.table td.link a {
}

.table td.link a:hover {
color: #fff;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.pagination {
    text-align: center;
}

td.selection, th.selection {
margin: 0;
width: 40px;
text-align: center;
}  

/* Pagination Pager */
ul.pagination {display: block; text-align:center; padding-bottom: 20px;}
ul.pagination li {display: inline-block;}

#footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
	border-top: 1px solid #ddd;
	background: #f9f9f9;
	text-align: center;
	padding-top: 18px;
	color: #333333;
	font-size: 12px;
}

.not-responsive {
  min-width: 1000px !important;
  width: 100%;
}

.full-content {
     display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:190px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px
}

.full-content-without-menu {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:0px;
    margin-top:34px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px
}

.split-pane {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0px;
    right:0;
    float: left;
    margin-bottom:5px;
    margin-right:5px;
    padding-left:190px;
    margin-top:80px;
}


.preview-pane {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:0px;
    margin-top:34px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px
}

.template-detail-wrap {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:200px;
    right:0;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:0px;
}
