
@keyframes runningBlinker {
  50% {
    opacity: 0.3;
  }
}

.running {
  animation: runningBlinker 0.7s linear infinite 0.2s;
}

.secondaryText {
  opacity: 0.7;
}

.itemTitle {
  padding: 4px 0;
  user-select: none;
}

.itemContent {
  position: relative;
}

.itemRemoved {
  opacity: 0.5;
  text-decoration: line-through;
}

.itemContentGuide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2rem;
  border-left: 1px solid;
  opacity: 0.2;
}

.docPropMatchTitle {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  user-select: none;
}

.docPropMatchSeparator {
  margin-top: 2px;
  border-bottom: 1px solid;
  opacity: 0.4;
}

.match {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
  user-select: none;
}

.docPropMatchTitle, .match {
  padding-left: 1rem;
}

.matchText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.matchHighlightText {
  background-color: $primary-hover-backgroundColor;
  color: $primary-hover-color;
}

.matchLineNumber {
  font-size: 0.8rem;
  padding-left: 4px;
  padding-right: 4px;
}

.itemTitle:hover,
.match:hover {
  background-color: $secondary-hover-backgroundColor;
  color: $primary-selection-color;
  cursor: pointer;
  user-select: none;
}

.expandedIcon {
  /* font-size in parent of icons to make the full width icon trick to work */
  font-size: 0.8rem;
  padding-right: 3px;
}

.entityIcon {
  font-size: 0.8rem;
  color: $entityIcon-color;
  padding-right: 3px;
}

.defaultEntityIcon {
  composes: fa fa-file from global;
}

.fullWidthIcon {
  text-align: center;
  width: 1.25em;
}

.parentPath {
  display: inline-block;
  font-size: 0.8rem;
  vertical-align: text-bottom;
  padding-left: 5px;
  padding-right: 5px;
}

.matchesBadge {
  display: inline-block;
  background-color: $primary-selection-backgroundColor;
  color: $primary-selection-color;
  border: 1px solid $primary-hover-backgroundColor;
  padding: 2px 3px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  min-width: 16px;
  min-height: 14px;
  margin-left: 4px;
  vertical-align: bottom;
}
