body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
}

#editor, #preview {
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
}

#editor {
  left: 0;
}

#preview {
  right: 0;
  height: 100%;
}

.hidden {
  display: none;
}

#error {
  position: fixed;
  height: 100px;
  width: 50%;
  right: 0;
  top: 0;
  background-color: #d0394f;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  max-height: 200px;
  overflow: hidden;
  transform: translateY(-200px);
  will-change: transform;
  transition: transform .5s;
}

#error.open {
  transform: translateY(0);
}