
.boxContainer {
  flex: 1;
  background-color: $entityTree-backgroundColor;
  display: flex;
  flex-direction: column;
  /*firefox needs min-height and min-width explicitly declared to allow descendants flex items to be scrollable (overflow)*/
  min-height: 0;
  min-width: 0;
}
