<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create user</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Password verification:</label>
                <input type="password" name="passwordVerification" class="form-control">
            </div>
            <div class="form-group">
                <div class="label label-danger" style="display:none" id="passwordValidation">
                    Passwords do not match.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="okCommand">Ok</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>