
a:hover {
text-decoration: none;
}


.articles img {
width: 80px;
height: 80px;
margin: 5px;
}

.underbanner {
padding: 11px;
text-align: right;
}

.carousel {
height: 480px;
}

.metro .carousel .markers li.active a {
  background-color: #555;
}

.tertiary-text {
font-size: 11px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  text-align: left;
  font-size: 12px;
  padding: 20px;
}

.brand-logo {
display: block;
width: 152px;
height: 26px;
background: url(../img/js-logo.png) no-repeat;
margin-top: -6px;
}

.main-title {
margin-bottom: 0px;
}

.sub-brand {
  display: block;
  padding: 20px 0px 0px 0px; 
  font-size: 13px;
}

form.form-login {
  margin: 0 auto;
  margin-top: 30px;
}

.btn-login {
 height: 50px;
 text-align: center;
}

.input-err {
color: red;
}