
.searchTagsContainer {
  display: inline-block;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
  position: relative;
}

.searchTagsInputBox {
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
}

.searchTagsInputBoxIcon {
  composes: fa fa-tag from global;
  margin-right: 0.3rem;
  color: $entityTree-collapseIcon-collapsed-color;
  position: absolute;
}

.searchTags {
  border: none;
  border-bottom-width: 0;
  transition: border 0.3s;
  padding: 0.2rem;
  width: 35px;
}

.searchTags:focus,
.searchTags:hover {
  border-bottom-width: 0;
}

.tagsListContainer {
  display: block;
  max-height: 150px;
  position: relative;
}

.tagsList {
  background-color: $popover-backgroundColor;
  border: 1px solid $popover-borderColor;
  box-shadow: 0 3px 12px $popover-shadowColor;
  display: inline-block;
  overflow: auto;
  position: absolute;
  top: 4px;
  width: 100%;
  z-index: 3;
}

.tagsListEmpty {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-align: center;
}

.tagsListItem {
  color: $controls-color;
  cursor: pointer;
  padding-bottom: 0.4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.4rem;
}

.tagsListItem:hover {
  background-color: $primary-hover-backgroundColor;
  color: $primary-hover-color;
}

.tagsSelect {
  display: inline-block;
  padding-left: 18px;
  width: 150px;
}

.tagsSelectItem {
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
}

.tagsSelectItemRemove {
  cursor: pointer;
  font-weight: bold;
}

.tagsSelectItemRemove:before {
  content: " ×";
}
