<div>
    <div>
        <small class="side-title">Content Type</small>
        <input type="text" class="form-control area-mini" placeholder="text/html" name="contentType"
               value="{{:contentType}}">
    </div>

    <div>
        <small class="side-title">File extension</small>
        <input type="text" class="form-control area-mini" placeholder="html" name="fileExtension"
               value="{{:fileExtension}}">
    </div>

    <div>
        <small class="side-title">Content Disposition</small>
        <input type="text" class="form-control area-mini" placeholder="inline" name="contentDisposition"
               value="{{:contentDisposition}}">
    </div>
</div>