<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jsreport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="author" content="Jan Blaha">
    <meta name="description" content="jsreport - javascript business reports">
    <!-- CSS links -->
    <link href="css/font-awesome/css/font-awesome.min.css?v=" rel="stylesheet">
    <link href="css/split-pane.css?v=" rel="stylesheet">
    <link href="css/toastr.css?v=" rel="stylesheet">
    <link href="css/bootstrap.min.css?v=" rel="stylesheet">
    <link href="css/embed.css?v=" rel="stylesheet">
</head>
<body>
<img class="loader" id="loader-img" src="img/loader.gif"/>
<!-- jsreport$studio - check for unit tests-->
<script type="text/javascript">
    var require = {
        urlArgs: "bust=" + new Date().getTime()
    };

    var jsreport_mode = '<%= mode %>';
</script>

EMBEDDED

<script src="lib/datajs-1.1.1.min.js" type="text/javascript"></script>
<script src="lib/jaydata.js?v=" type="text/javascript"></script>
<script src="lib/oDataProvider.js?v=" type="text/javascript"></script>
<script data-main="js/require_main.js" src="lib/require.min.js" type="text/javascript"></script>
<script src="lib/ace/ace.js" charset="utf-8"></script>
<script src="lib/ace/ext-language_tools.js" charset="utf-8"></script>
</body>
</html>
