<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jsreport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="author" content="Jan Blaha">
    <meta name="description" content="jsreport - javascript business reports">
    <!-- CSS links -->
    <link href="<%= serverUrl %>css/font-awesome/css/font-awesome.min.css?v=" rel="stylesheet">
    <link href="<%= serverUrl %>css/split-pane.css?v=" rel="stylesheet">
    <link href="<%= serverUrl %>css/toastr.css?v=" rel="stylesheet">
    <link href="<%= serverUrl %>css/bootstrap.min.css?v=" rel="stylesheet">
    <link href="<%= serverUrl %>css/embed.css?v=" rel="stylesheet">
</head>
<body>

<!-- jsreport$studio - check for unit tests-->
<script type="text/javascript">
    var require = {
        urlArgs: "bust=" + new Date().getTime() + "&mode=embedded"
    };

    var jsreport_mode = '<%= mode %>';
    var jsreport_server_url = '<%= serverUrl %>';

    function openTemplate(shortid) {
        require(["app"], function(app) {
            app.trigger("open-template", shortid);
        });
    }

</script>
<script src="<%= serverUrl %>lib/datajs-1.1.1.min.js?mode=embedded" type="text/javascript"></script>
<script src="<%= serverUrl %>lib/jaydata.js?mode=embedded" type="text/javascript"></script>
<script src="<%= serverUrl %>lib/oDataProvider.js?mode=embedded" type="text/javascript"></script>
<script data-main="<%= serverUrl %>js/require_main.js" src="<%= serverUrl %>lib/require.min.js?mode=embedded" type="text/javascript"></script>
<script src="<%= serverUrl %>lib/ace/ace.js" charset="utf-8"></script>
<script src="<%= serverUrl %>lib/ace/ext-language_tools.js?mode=embedded" charset="utf-8"></script>
<img class="loader" id="loader-img" src="<%= serverUrl %>img/loader.gif?mode=embedded"/>

</body>
</html>
