name: windows-binary

on:
  release:
    types: [published]

jobs:
  compile:

    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 18.17.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.17.x

      - run: yarn install

      - run: yarn compile

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: exe-output/jsreport-win.zip
